.form-task {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-task input,
.form-task select,
.form-task textarea {
    background: var(--gray-light);
    padding: .3rem .6rem;
    border-radius: var(--button-radious);
}


.form-task label {
    font-weight: bold;
}

.form-task div {
    display: flex;
    flex-direction: column;
    gap: .3rem;
}

.form-task .div-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;
}

.form-task .div-title input {
    font-size: var(--font-xxl);
    font-weight: 900;
    background: unset;
    padding-left: 0;
}

.form-task .div-title input:focus {
    outline: none;
    background: #fafafa;
    border-radius: var(--button-radious);
}

.form-task .favorite-icon {
    width: 35px;
    height: 35px;
    color: var(--gray-dark);
    cursor: pointer;
    transition: all 0.5s;
}

.form-task .favorite-icon:hover {
    transform: scale(1.10) rotate(72deg);
}

.form-task .favorite-icon.selected {
    color: var(--yellow-color);
}

.form-task .radio-priority {
    display: flex;
    flex-direction: row;
    gap: .8rem;
}

.form-task .radio-priority input {
    display: none;
}

.form-task .radio-priority .radio-label {
    font-weight: 400;
    background: #f1f1f1;
   padding: .1rem 1rem;
   border: 2px solid transparent;
   border-radius: var(--button-radious);
   cursor: pointer;
   transition: all 0.3s;
   display: flex;
   align-items: center;
}

.form-task .radio-priority .radio-label:hover {
    background: #e7e7e7; 
}



.form-task .radio-priority .radio-label.checked[for="low"] {
    border: 2px solid var(--gray-dark);
    background: var(--gray-light);
    color: var(--black);
    font-weight: bold;
}
.form-task .radio-priority .radio-label.checked[for="medium"] {
    border: 2px solid var(--orange-color);
    color: var(--orange-color);
    background: var(--orange-color-light);
    font-weight: bold;
}
.form-task .radio-priority .radio-label.checked[for="high"] {
    border: 2px solid var(--red-color);
    background: var(--red-color-light);
    color: var(--red-color);
    font-weight: bold;
}

.form-task .radio-priority .radio-label.checked[for="not started"] {
    border: 2px solid var(--gray-dark);
    background: var(--gray-light);
    font-weight: bold;
    color: var(--black);
}

.form-task .radio-priority .radio-label.checked[for="in progress"] {
    border: 2px solid var(--second-color);
    background: var(--second-color-light);;
}

.form-task .radio-priority .radio-label.checked[for="done"] {
    border: 2px solid var(--green-color);
    background: var(--green-color-light);;
}

.form-task .tag-list1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: .3rem;
}

.form-task .tag-list1 p {
   background: var(--gray-light);
   padding: .1rem .7rem;
   border-radius: var(--button-radious);
   border: 1px solid var(--gray-dark2);
   cursor: default;
   text-transform: capitalize;

   transition: all 0.3s;
}

.form-task .tag-list1 p:hover {
    background: #e0e0e0;
}

.form-task .add-task {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: .4rem;
}

.form-task .add-task input {
    width: 100%;
    min-width: 330px;
    flex: 1;
}

.form-task .add-task button {
    background: var(--second-color);
    padding: .3rem .8rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: var(--button-radious);
    border: 2px solid var(--second-color);
    color: var(--white);
    transition: all 0.3s;
}

.form-task .add-task button:hover {
    cursor: pointer;
    background: #2a9cff;
}




.form-task .save-button {
    background: var(--second-color-light);
    padding: .3rem .8rem;
    margin-top: .5rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: var(--button-radious);
    border: 2px solid var(--second-color);
    color: var(--second-color);
    transition: all 0.3s;
}

.form-task .save-button:hover {
    background: #cde6ff;
}

