.main-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: #FAFAFA;
    padding: 24px;
}

.sidebar-container {
    background-color: var(--gray-light2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 330px;
    height: 100%;
    z-index: 1;
    padding: 24px;
    overflow-y: auto;
    border-radius: 16px;
    /* padding-left: 3rem; */
}

.main-div {
    height: 100%;
    width: 100%;
    flex: 1 1 0;
    padding: 1.5rem 3rem .5rem;
    overflow: auto;
}