.logo {
    width: 100%;
    text-align: center;
}

.logo-img {
    width: 80px;
    height: 80px;
    transition: all 0.3s;
}

.logo-img:hover {
    transform: scale(1.10) rotate(-5deg);
}

.links {
    margin-top: 3rem;
    display: grid;
    gap: 2rem;
}

.links a {
    font-weight: bold;
    color: var(--black);
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-size: var(--font-lg);
    text-align: center;
    transition: all .3s;
}

.links a:hover {
    color: var(--primary-color);
    text-decoration: underline;
    transform: scale(1.05);
}