.tasks-container {
    padding: 2rem;
}

.tasks-container {
    width: 100%;
}

.task-filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
    border-radius: var(--panel-radious);
    margin-bottom: 1rem;
}

.task-filters .create-button {
    height: 35px;
    width: 100%;
    background: var(--second-color);
    color: var(--white);
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding-left: 1rem;
    transition: all 0.3s;
}

.tasks-container .filter-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
    background-color: var(--gray-dark2);
    border-radius: 10px;
    padding: 4px 5px;
}

.tasks-container .filter-buttons svg {
    color: var(--gray-dark);
}

.tag-filter {
    padding: 2px 16px;
    background: var(--white);
    border-radius: var(--button-radious);
    color: var(--gray-dark3);
    cursor: pointer;
    transition: all 0.3s;
}

.tag-filter:hover {
    background-color: var(--gray-dark2);
    /* box-shadow: var(--button-shadow); */
}

.tasks-container .create-button:hover {
    color: var(--gray-dark);
    transform: scale(1.05);
}

.tag-filter.selected {
    background: #dddddd;
    /* font-weight: bold; */
}

.preview-task-container {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

@media (min-width: 640px) {
    .tasks-container .filter-buttons {
        justify-content: end;
    }

    .task-filters .create-button {
        width: fit-content;
    }
}