.tasks-container {
    padding: 2rem;
}

.tasks-container {
    width: 100%;
}

.task-filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
    border-radius: var(--panel-radious);
    margin-bottom: 1rem;
}

.task-filters .create-button {
    height: 35px;
}

.tasks-container .filter-buttons {
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
    gap: 1rem;
}

.tag-filter {
    padding: .3rem 1.5rem;
    background: var(--white);
    border-radius: var(--button-radious);
    border: 1px solid var(--gray-dark);
    /* font-weight: bold; */
    color: var(--gray-dark);
    cursor: pointer;
    transition: all 0.3s;
}

.tag-filter:hover {
    color: var(--black);
    box-shadow: var(--button-shadow);
}

.tasks-container .create-button {
    background: var(--second-color);
    color: var(--white);
    border: 1px solid transparent;
    display: flex;
    gap: 0.5rem;
    padding-left: 1rem;
    transition: all 0.3s;
}

.tasks-container .create-button:hover {
    transform: scale(1.05);
}

.tag-filter.selected {
    background: var(--gray-light);
    font-weight: bold;
}

.preview-task-container {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}