@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: "Inter", sans-serif;
    /* Light styles */
    --primary-color: #5F33E1;
    --primary-color-light: #EEE9FF;
    --second-color: #0087FF;
    --second-color-light: #E7F3FF;
    --pink-color: #F478B8;
    --pink-color-light: #FFE4F2;
    --yellow-color: #FFB240;
    --yellow-color-light: #FFF7EC;
    --orange-color: #ffa500;
    --orange-color-light: #FFF6D4;
    --red-color: #D20A0A;
    --red-color-light: #F7E2ED;
    --green-color: #37833B;
    --green-color-light: #ECF7ED;
    --black: #181818;
    --white: #fafafa;
    --gray-light: #F0F3F6;
    --gray-dark2: #cccccc;
    --gray-dark: #747474;

    /* shapes */
    --button-radious: 8px;
    --panel-radious: 14px;
    --button-shadow: 0 0 10px rgba(0,0,0,0.1);
    --panel-shadow: 0 0 30px rgba(0,0,0,0.1);
    --button-border: 2px solid;
    --font-xxl: 28px;
    --font-xl: 24px;
    --font-lg: 18px;
    --font-md: 16px;
    --font-sm: 14px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    border: none;
    background: none;
}

button:active {
    animation: focusBtn 0.1s alternate;
}

@keyframes focusBtn {
    0% {
    }
    100% {
        transform: scale(1.5);
        opacity: 75%;
    }
}